html {
    font-size: 100px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-size: .1rem;
    background-color: #f8f8f8;
}

// @media only screen and (min-width: 600px) {

//     // html,
//     body {
//         width: 375px;
//         // height: 667px;
//     }
// }